{% load  static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>

   <!-- Barra de navegación -->
   <nav>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'productos' %}">Productos</a></li>
        <li><a href="{% url 'stock' %}">Stock</a></li>
        <li><a href="{% url 'ventas' %}">Ventas</a></li>
    </ul>
</nav>

    <!-- Encabezado de la tienda -->
    <header>
        <h1>Tienda</h1>
    </header>

    <!-- Lista de productos -->
    <section class="product-list">
        <!-- Producto 1 -->
        <div class="product">
            <img src="https://via.placeholder.com/150" alt="Celular Motorola">
            <div class="product-info">
                <h2>Celular Motorola</h2>
                <p><strong>Precio:</strong> $100000.0</p>
                <p>Disponible en Dorado colores</p>
            </div>
            <button>Comprar</button>
        </div>

        <!-- Producto 2 -->
        <div class="product">
            <img src="https://via.placeholder.com/150" alt="Asus">
            <div class="product-info">
                <h2>Asus</h2>
                <p><strong>Precio:</strong> $10000.0</p>
                <p>Disponible en Gris colores</p>
            </div>
            <button>Comprar</button>
        </div>
    </section>

</body>
</html>
