{% load i18n static %}
{% block content %}
{{ form.media }}
<div class="modal-content" id="miModal" style="z-index: 1050">
  <div class="modal-body">
    <div class="card">
      <div class="modal-header">
        <h3>{% trans "Nuevo Producto" %}</h3>
        <button type="button" id="cerrarVenta" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="card-body">
        <form hx-post="{{ request.path }}" hx-target="#modal-content" hx-swap="outerHTML" hx-target="#modal-content" autocomplete="off"enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="input-group input-group-static mb-1">
                <label for="name">{% trans "Nombre" %} <span style="color: red">*</span> </label>
                {{ form.nombre }}
              </div>
              <div id="form-errors">{{ form.nombre.errors }}</div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="Precio">{% trans "Precio: " %} <span style="color: red">*</span> </label>
                {{ form.precio }}
              </div>
              <div id="form-errors">{{ form.precio.errors }}</div>
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-static mb-4">
              <label for="Color">{% trans "Color:" %} <span style="color: red">*</span> </label>
              {{ form.color }}
            </div>
            <div id="form-errors">{{ form.color.errors }}</div>
          </div>
          <div class="row">
            <div class="col">
                <div class="input-group input-group-static mb-4">
                  <label for="categoria">{% trans "Categoria:" %} <span style="color: red">*</span> </label>
                  {{ form.categoria }}
                </div>
                <div id="form-errors">{{ form.categoria.errors }}</div>
              </div>
            <div class="col">
              <div class="input-group input-group-static mb-1">
                <label for="Imagen">{% trans "Imagen:" %} <span style="color: red">*</span> </label>
                {{ form.imagen }}
              </div>
              <div id="form-errors">{{ form.imagen.errors }}</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-primary mt-3" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i> {% trans "Save" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos_templates.css' %}" />
</head>

{% endblock content %}
